<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="../css/Home.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
<div id="menu">
    <h1>
        DN grill & lounge
    </h1>
    <ul class="menu">
        <li class="menu-item">
            <section>
                <header>
                    <h2>
                        BBQ pulled pork
                    </h2>
                    <span class="spacer"></span>
                    <span class="price">
              $ 14.95
            </span>
                </header>
                <p>
                    Filthy good pork, straight from the barbeque, served with a light salad of spring leaves.
                </p>
            </section>
        </li>
    </ul>
</div>
</body>
</html>