<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="../css/Home.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
<div id="menu">
    <h1>
        Pizzas
    </h1>
    <ul class="menu">
        <% for(let i = 0; i < pizzas.length; i++) { %>
            <% let pid = i + 1 %>
            <li class="menu-item">
                <section>
                    <header>
                        <h2>
                            <%= pizzas[i].pizza %>
                        </h2>
                        <span class="spacer"></span>
                        <span class="price">
              $ <%= pizzas[i].price%>
            </span>
                    </header>
                    <p>
                        <% for(let i = 0; i < ingredients.length; i++) { %>
                            <% if (pid == ingredients[i].pid) { %>
                                <%= ingredients[i].ingredient %>
                            <% } %>
                        <% } %>
                    </p>
                </section>
            </li>
        <% } %>
    </ul>
</div>
</body>
</html>