<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head.ejs %>

    <body class="container">
        <% include ../partials/menu.ejs %>

        <main>
           <div class="jumbotron">
              <h1>This is great</h1>
              <p>Welcome to templating using EJS</p>
              <h2>Variable</h2>
              <p><%= tagline %></p>
              <ul>
                  <select name="cars">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="fiat">Fiat</option>
                      <option value="audi">Audi</option>
                  </select>
              </ul>
           </div>
        </main>

       <% include ../partials/footer.ejs %>
    </body>
</html>