<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/Register.css">
</head>
<body>

<form action="/" method="GET">
    <div class="register-form">
        <h1>Register</h1>

        <input type="text" placeholder="Enter visa number" name="visa" required>
        <input type="text" placeholder="Enter expiration" name="expiration" required>
        <input type="password" placeholder="3 digits at the back" name="threeDigits" required>
        <button type="submit" onclick="alert('Order accepted, it will come in 1 hour')">Order</button>
    </div>
</form>

</body>
</html>
