<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/Register.css">
</head>
<body>

<form action="/" method="POST">
    <div class="register-form">
        <h1>Register</h1>

        <input type="text" placeholder="Enter Email" name="email" required>
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Register</button>
    </div>

    <div class="register-form">
        <p>Already have an account? <a href="/">Sign in</a>.</p>
    </div>
</form>

</body>
</html>
